<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-13">
        <form (ngSubmit)='findRepos()' #reposForm = 'ngForm' class="form-inline" >
            <div class="form-group">
                <input type="text" class="form-control" placeholder="repositoryname" [(ngModel)] = "searchTerm" name="searchTerm">
                <button type="Submit" class="btn btn-success"> Search</button>
                <span id="helpBlock" class="help-block">Enter a github repo name.</span>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row" *ngIf="repos">
    <div class="row">
        <div class="row">
            <h3>Repositories</h3>
            <div class="row" *ngFor="let repo of repos">
                <div class="col-sm-12">
                    <p>{{repo.name}}</p>
                    <p>{{repo.description}}</p>
                    <a href="{{repo.repoLink}}" class="btn btn-sm btn-info">View this project</a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
