<div class="row" *ngIf="user">
    <div class="row">
        <div class="row">
            <div class="col-sm-3">
                <img src="{{user.imageLink}}" class="img-rounded" alt="User Image" height="250">
            </div>
            <div class="col-sm-9">
                <h1 class="details">{{user.user}}</h1>
                <p class="details">Username: {{user.login}}</p>
                <p class="details">{{user.bio}}</p>
                <p class="details"><a href="{{user.link}}" class="btn btn-success">View on github</a></p>
            </div>
        </div>
        <div class="row">
            <h3>Repositories</h3>
            <div class="row" *ngFor="let repo of repos">
                <div class="col-sm-12">
                    <h4 appChangecolor>{{repo.name|bolden}}</h4>
                    <p>{{repo.description}}</p>
                    <a href="{{repo.repoLink}}" class="btn btn-sm btn-info">View this project</a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
